body {
  margin: 0;
  padding: 5rem 2rem;
  background-color: #cee8ff;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.input-container input {
  width: 70%;
}
